/* Reset Css */
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, a, img,
strong, b, u, i, ul, li, form, canvas,
audio, video
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ol, ul
{
    list-style: none;
}

table
{
    border-collapse: collapse;
    border-spacing: 0;
}

a
{
    text-decoration: none;
    color: black;
}

html, body
{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-family: Arial;
    position: relative;
}
/* Reset Css */

#wrapper2
{
    display: none;
    position: absolute;
    top: 0px;
    right: 200px;
}

#gameMenu
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.6);
}

#menuWrapper
{
    margin: 0 auto;
    width: 600px;
    padding: 50px;
    background-color: #c8b6a7;
    border-radius: 10px;
    margin-top: 200px;
}

#multiplayerMode
{
    background-color: #f65e3b;
}

#classicMode
{
    background-color: #edcf72;
}

.eachSquare
{
    width: 140px;
    height: 140px;
    border-radius: 5px;
    display: inline-block;
    margin: 3.5px 5px 3.5px 5px;
    background-color: #958980;
}

.squareNbr
{
    width: 0px;
    height: 0px;
    font-size: 6em;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    margin: 3.5px 5px 3.5px 5px;
    overflow: hidden;
    transition: 0.3s ease-in-out all;
}

.square2
{
    background-color: #e5d8cd;
}

.square4
{
    background-color: #ede0c8;
}

.square8
{
    background-color: #f2b179;
}

.square16
{
    background-color: #f2b179;
}

.square32
{
    background-color: #f67c5f;
}

.square64
{
    background-color: #f65e3b;
}

.square128
{
    background-color: #edcf72;
    font-size: 4em;
}

.square256
{
    background-color: #edcf72;
    font-size: 4em;
}

.square512
{
    background-color: #edcf72;
    font-size: 4em;
}

.square1024
{
    background-color: #ede372;
    font-size: 3em;
}

.square2048
{
    background-color: #edf300;
    font-size: 3em;
}

.menuChoice
{
    width: 100%;
    height: 100px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 5em;
    text-align: center;
}

.menuChoice:first-child
{
    margin-bottom: 20px;
}

.menuChoice:last-child
{
    margin-top: 20px;
}

.wrapper
{
    position: relative;
    margin-top: 200px;
}

.allSquares
{
    width: 600px;
    height: 600px;
    padding: 10px;
    margin-left: 50%;
    border-radius: 10px;
    background-color: #8c7e73;
}

.allSquaresHover
{
    width: 600px;
    height: 600px;
    padding: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px; 
    margin-left: 50%;
}